.App {
  text-align: center;
}

.tableformat{
  width:50vw !important;
  margin-left:auto;
  margin-right:auto;
}

.forms{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: center;
min-width: 40%;
left: 30%;
top: 30%;
background-color: steelblue;
max-width: max-content;
position: fixed;
color: white;
box-shadow: 5px 5px 5px 5px grey;
padding: 10px;
}

.heading{
  text-align:center;
}


